.EmailWrapper {
  width: 438px;
  height: 74px;
  flex-shrink: 0;
  border-radius: 43px;
  opacity: 0.1;
  background: var(--pure-white, #fff);
}

.EmailDiv {
  color: var(--pure-white, #fff);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 162.523%; /* 26.004px */
  padding-left: 62px;
  padding-top: 18px;
  border: none;
}

/* .Emailicon {
    width: 18px;
  height: 16px; 
  padding: 29px 0 29px 29px;
} */

.pill {
  width: 137px;
  height: 62px;
  border-radius: 43px;
  background: #e3b748;
  top: 621px;
  left: 449px;
  border-radius: 43px;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 162.523%;
}
